:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.9);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
    align-items: flex-start;
    /*background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);*/
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xl) var(--spacing-l);
    margin-bottom: var(--spacing-xxl);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.95) saturate(1.2) contrast(0.95);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.75) contrast(1) blur(0px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 1rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: normal;
  }

  .card__subheading{
    color: var(--text-lighter);
    font-size: 1rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    margin-bottom: var(--spacing-s);

  }

  .card__more {
    display: none;
    color: var(--text-light);
    font-size: 1rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    text-transform: uppercase;
    position: absolute;
    bottom: var(--spacing-s); /* Ajusta el espacio desde abajo según tus preferencias */
    left: var(--spacing-l); /* Ajusta el espacio desde la izquierda según tus preferencias */
  }
  
  .card:hover .card__more {
    display: block;
    position: absolute;
  }
  
  
  /* POP UP */
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; /* Ancho deseado */
    height: auto; /* Alto deseado */
    max-height: 80vh; /* Altura máxima para evitar que se haga muy alta */
    background-color: rgba(255, 255, 255, 255); /* Fondo blanco translúcido */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Sombra para destacar */
    z-index: 9999;
  }
  
  .popup-content {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    position: relative;
    color: #111;
    padding: 20px;
  }

  .popup p {
    margin: 15px;
  }

  .popup-title{
    font-size: 30px;
    font-weight: 700;
  }

  .popup-subtitle{
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
  }

  .popup-heading{
    font-size: 20px;
    font-weight: 400;
  }
  
  .close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }
  
  .popup.active,
  .overlay.active {
    display: block;
  }
  

  @media (max-width: 768px) {
    .popup {
      width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
      max-width: 90%; /* Ajusta el ancho máximo para pantallas más pequeñas */
      max-height: 90%; /* Ajusta la altura máxima para pantallas más pequeñas */
    }
  }