

/*------------------------------------------------------------------------------------------*/
/* 1. Defaults & Reset of specific styles across browsers */
/*------------------------------------------------------------------------------------------*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
    margin: 0;
    padding: 0;
    direction: ltr;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

p {
    line-height: 25px;
}

.row img {
    height: auto;
    max-width: 100%;
}


/* Agregar icono externo a todos los enlaces que comiencen con http o https */
a[href^="http://"]:not(.no-icon)::after,
a[href^="https://"]:not(.no-icon)::after {
  font-family: 'FontAwesome';
  content: '\f08e'; /* Código de Unicode para el icono "external-link-alt" en FontAwesome 4.7.0 */
  margin-left: 5px; /* Espacio entre el enlace y el icono */
  display: inline-block;
}

    /* Cambiar el estilo del icono */
    a[href^="http://"]::after,
    a[href^="https://"]::after {
    color: var(--light-blue); /* Cambiar el color del icono */
    font-size: 15px; /* Cambiar el tamaño del icono */
    }
    
/* Línea por debajo de los enlaces externos (con icono) */
a {
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease; /* Transición suave para el efecto */
  }
  
a[href^="http://"]:not(.no-icon)::before,
a[href^="https://"]:not(.no-icon)::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px; /* Altura de la línea */
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, transparent, var(--light-blue));
    transition: width 0.3s ease; /* Transición para la expansión de la línea */
  }
  
/* Cuando el cursor pasa sobre el enlace */
a:not(.no-icon):hover::before {
    width: 100%; /* La línea se expande completamente */
  }
  





/*------------------------------------------------------------------------------------------*/
/* 2. Layout Elements */
/*------------------------------------------------------------------------------------------*/

section {
    clear: both;
    overflow: hidden;
}

/* Rows and Columns */

.row {
    max-width: 1245px;
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
}

.no-padding-bottom .row, .no-padding-bottom div, .no-padding-bottom.row {
    padding-bottom: 0;
}

.no-padding-top.row, .no-padding-top div {
    padding-top: 0;
}

.big-padding-top {
    padding-top: 75px !important;
}

.big-padding-bottom {
    padding-bottom: 85px !important;
}

/* Targets all elements */

[class*='col-'] {
    float: left;
    padding: 20px;
}





/* Main Widths */

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.6666666667%;
}

.col-7 {
    width: 14.2857142857%;
}

.col-8 {
    width: 12.5%;
}

.col-9 {
    width: 11.1111111111%;
}

.col-10 {
    width: 10%;
}

.col-11 {
    width: 9.09090909091%;
}

.col-12 {
    width: 8.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-3-4 {
    width: 75%;
}

.col-9-10 {
    width: 90%;
}

/* Golden Ratio */
.col-61 {
    width: 61.8%;
}

.col-38 {
    width: 38.2%;
}

/* --------- 2.1 Header --------- */

#header {
    height: 71px !important;
    overflow: visible;
    z-index: 9999;
    width: 100%;
    position: absolute !important;
}

#header .row {
    padding: 0;
}

#header aside {
    text-align: right;
}

#header ul {
    text-align: right; /*originalmente center*/
    margin-right: 12.5%;
}

#header li {
    display: inline-block;
    list-style: none;
    margin: 0;
}

/* --------- 2.2 Logo ---------- */

#logo {
    float: left;
    height: 71px;
    line-height: 66px;
    margin-right: 15px;
    display: none; /* Oculta el logo de navegación de forma predeterminada */
}

/* Mostrar el logo cuando la barra de navegación es pegajosa */
#header.nav-solid #logo {
    display: inline-block;
}

#logo h1,
#logo h2 {
    display: inline-block;
    padding: 0;
    font-size: 18px;
}

#banner #logo h1 {
    font-size: 28px;
    margin-right: 10px;
    font-weight: 900;
}


#logo img {
    max-height: 22px;
    vertical-align: middle;
    margin-right: 15px;
}





#header {
    font-size: 13px;

}

#header aside {
    float: right;
}

#header nav ul {
    text-transform: uppercase;
}

#header nav a {
    height: 71px;
    line-height: 71px;
    display: block;
    padding: 0 10px;
}

#header nav a:hover {
    color: var(--gold);
}

/*Navigation Solid*/

#header.nav-solid [class*='col-'] {
    padding: 0 20px;
}

#header.nav-solid {
    background:  var(--background);
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
    position: fixed !important;
    left:0;
}

#header.nav-solid nav a {
    border-bottom: 3px solid;
    border-color:  var(--background);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#header.nav-solid nav a:hover {
    opacity: 1;
}

/* Social Elements when Solid*/

#header.nav-solid .social-icons a {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0.5;
    margin-top: 20px;
}

#header.nav-solid .social-icons a:hover {
    opacity: 1;
    color: #e4473c;
}

/* Responsive Nav Styling */

#nav-trigger {
    display: none;
    text-align: right;
}

#nav-trigger span {
    display: inline-block;
    width: 38px;
    height: 71px;
    color: var(--gold);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#nav-trigger span:after {
    font-family: "fontAwesome";
    display: inline-block;
    width: 38px;
    height: 71px;
    line-height: 75px;
    text-align: center;
    content: "\f0c9";
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#nav-trigger span.open:after {
    content: "\f00d";
}

#nav-trigger span:hover, .nav-solid #nav-trigger span.open:hover, .nav-solid #nav-trigger span:hover {
    opacity: 0.6;
}

#nav-trigger span.open, #nav-trigger span.open:hover {
    color: var(--gold);
}

.nav-solid #nav-trigger span.open:hover {
    color: var(--dark-gray);
}

.nav-solid #nav-trigger span {
    color: var(--dark-gray);
    opacity: 1;
}

nav#nav-mobile {
    position: relative;
    display: none;
}

nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color:  var(--background);
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

nav#nav-mobile ul:after {
    display: none;
}

nav#nav-mobile li {
    margin: 0 20px;
    float: none;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

nav#nav-mobile li:last-child {
    border-bottom: none;
}

.nav-solid nav#nav-mobile li {
    border-top: 1px solid #e1e1e1;
    border-bottom: none;
}

nav#nav-mobile a {
    display: block;
    padding: 12px 0;
    color: #333;
    width: 100%;
    height: auto;
    line-height: normal;
    display: block;
    border-bottom: none !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav#nav-mobile a:hover {
    background: #fafafa;
    opacity: 1;
}

/* --------- 2.5 Social Elements ---------- */

#header .col-4 {
    text-align: right;
}

.social-icons {
    display: inline-block;
    list-style: none;
}

.social-icons a {
    display: inline-block;
    width: 32px;
    text-align: center;
}

.social-icons a:hover {
    opacity: 0.7;
}

.social-icons span {
    display: none;
}

#header .social-icons {
    margin-top: 50px;
}

/* Estilo para los iconos sociales en el banner */
#banner #header .social-icons {
    margin-top: 100px;
}

/* RRSS icons */
.rrss {
    display: inline-block;
}

.rrss a {
    display: inline-block;
    width: 32px;
    text-align: center;
    color: var(--gold);
}

.rrss a:hover {
    opacity: 0.8;
    color: var(--gold);
}

.rrss span {
    display: none;
}

.rrss a svg {
  display: inline-block;   
  width: 2em;              
  height: 2em;
  vertical-align: middle;  
  margin-top: -15px;
}

/* --------- 2.6 Images ---------- */

/*Alignment*/

img {
    vertical-align: top;
}



a img {
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-backface-visibility: hidden;
}

a img:hover {
    opacity: 0.7;
}

/*------------------------------------------------------------------------------------------*/
/* 3. Fonts */
/*------------------------------------------------------------------------------------------*/

h1 {
    padding: 20px 0;
}

h2 {
    padding: 14px 0;
}

h3 {
    padding: 10px 0;
}

h4 {
    padding: 7px 0;
}

h5 {
    padding: 7px 0;
}

h6 {
    padding: 7px 0;
}

/* Text Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Section Headings */

.section-heading {
    padding: 0 0 15px 0;
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.section-heading h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--medium-blue);
    letter-spacing: 2px;
    padding-bottom: 0;
}

ul.puntos {
    list-style-type: disc;
    padding-left: 30px;
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/

#banner {
    background-size: cover;
}

#banner-content.row {
    padding-top: 170px;
    padding-bottom: 100px;
}

#banner h1 {
    padding-top: 5%;
}

#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}



/*------------------------------------------------------------------------------------------*/
/* 5. Content Elements */
/*------------------------------------------------------------------------------------------*/


/*Font Icon sizes*/

.fa-1x {
    font-size: 15px !important;
}








/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer {
    clear: both;
}

#landing-footer .row {
    padding: 0;
}

#landing-footer p {
    margin: 0;
}

#landing-footer ul {
    list-style: none;
    text-align: center;
}

#landing-footer li {
    display: inline-block;
}

/* Scroll Up */

#scrollUp {
    bottom: 15px;
    right: 30px;
    width: 70px;
    height: 80px;
    margin-bottom: -10px;
    padding: 0 5px 20px 5px;
    text-align: center;
    text-decoration: none;
    color: var(--dark-gray);
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
    margin-bottom: 0;
}

#scrollUp:before {
    /*background-color: var(--dark-gray);*/
    font-family: "fontawesome";
    font-size: 2.4em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: var(--dark-gray);
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    content: "\f106";
    opacity: 1;
}


/*------------------------------------------------------------------------------------------*/
/* Responsive Elements */
/*------------------------------------------------------------------------------------------*/

/* =Media Queries for Nav
===============================*/
@media all and (max-width: 1024px) {
    #nav-trigger {
        display: block;
    }

    nav#nav-main {
        display: none;
    }

    nav#nav-mobile {
        display: block;
    }

    nav#nav-mobile li {
        display: block;
    }

    #header aside {
        display: none;
    }
}

/* Landscape mobile (antes 480px) & down
===============================*/
@media (max-width: 768px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }

    .row {
        padding: 15px !important;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38 {
        padding-right: 0;
        padding-left: 0;
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 15px !important;
    }

    #header.nav-solid [class*="col-"] {
        padding: 0;
    }

    /*Logo*/
    #logo h2 {
        padding: 0;
    }

    /* Social */
    #header aside {
        clear: both;
        padding: 0;
    }

    #header ul.social-icons {
        margin-top: 0;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }




    /* Footer*/ 
    #landing-footer #copyright {
        float: center;
        width: 100%;
    }

    #landing-footer .social-icons {
        float: center;
        width: 100%;
    }

    /*-----------------Typography-----------------*/
    h1 {
        font-size: 38px;
    }

    #banner h1 {
        font-size: 48px;
    }

    /* Hide Elements */
    a#scrollUp {
        display: none !important;
    }

}

/* Mobile to Tablet Portrait antes 480px y max 767
===============================*/
@media (min-width: 768px) and (max-width: 1024px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }


    .row {
        padding: 15px 0 !important;
    }

    .col-1, .col-2, .col-5, .col-7, .col-9, .col-11, .col-2-3, .col-3-4, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-3, .col-4, .col-6, .col-8, .col-10, .col-12 {
        width: 50%;
    }

    

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 !important;
    }

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/


    

    /* Footer */
    #landing-footer #copyright {
        float: center;
        width: 100%;
    }

    #landing-footer .social-icons {
        float: center;
        width: 100%;
    }

}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 768px) and (max-width: 1024px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border {
        display:none;
    }

    .big-padding-top {
        padding-top: 45px !important;
    }

    /*-----------------Header Elements-----------------*/
    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }



}


