/* Namari Landing Page Dynamic Style Index

1. Website Default Styling
2. Navigation
3. Primary and Secondary Colors
4. Banner
5. Typography
6. Buttons
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/

@import url('variables.css');

body {
    background: var(--background);
}


/* Default Link Color */

a, .la-ball-triangle-path {
    color: var(--light-blue);
}

a:hover, #header.nav-solid nav a:hover {
    color: var(--light-blue);
}

/* Default Icon Color */

.icon i {
    color: var(--light-blue);
}

/* Border Color */

#banner .section-heading:before {
    background:  var(--gold);
    display: none;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/


/* Transparent Navigation Color on a Banner */

#header nav a, #header i {
    color: var(--white);
}


/* Navigation Colors when the Navigation is sticky and solid */ 

#header.nav-solid, #header.nav-solid a, #header.nav-solid i, #nav-mobile ul li a {
    color:#333;
}


/* Navigation Active State */

#header.nav-solid .active {
    color:  var(--light-blue);
    border-color:  var(--light-blue);
}    



/*------------------------------------------------------------------------------------------*/
/* 3. Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Primary Background and Text Colors */


.section-heading h2:after {
    background: var(--gold);
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.section-heading#sinlinea h2:after {
    display: none;
}


.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#fff;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color:#f5f5f5;
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors */


#banner {
background: url("../images/banner-images/fondo.jpg") no-repeat center top;
background-size:cover;
height: 100vh;
}   


/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:15px;
    font-weight:normal;
    color: var(--black);
}

/*Logo, if you are using Fonts as Logo and not image*/


#logo h1 {
    font-family:'Open Sans', sans-serif, Arial, Helvetica;;
    font-size:62px; 
    font-weight:800;
    color: var(--light-blue);
}

#logo h2 {
    font-family:'Open Sans', sans-serif, Arial, Helvetica;;
    font-size: 18px; 
    font-weight:300;
    color:  var(--light-blue);
}

#navigation-logo {
    font-family:'Open Sans', sans-serif, Arial, Helvetica;;
    font-size: 18px; 
    font-weight:300;
    color:  var(--light-blue);
    display: inline-block;
    padding: 0;
}




/* Banner Typography */

#banner h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:62px;
    line-height:60px;
    font-weight:800;
    color: var(--white);
}

#banner h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:18px;
    font-weight:300;
    color: var(--white);
}


/* Section Title and Subtitle */

.section-title {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:700;
    color: var(--light-blue);
}

.section-subtitle {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight:300;
    color: var(--light-blue);
}


/* Standard Headings h1-h6 */

h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 40px; 
    font-weight:300;
    color: var(--light-blue);
}

h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:300;
    color: var(--light-blue);
}

h3 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 30px; 
    font-weight:700;
    color: var(--light-blue);
}

h4 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px; 
    font-weight:400;
    color: var(--black);
}

h5 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px; 
    font-weight:400;
    color: var(--black);
}

h6 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px; 
    font-weight:400;
    color: var(--black);
}


/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */


/* Button Text */

.button, input[type="submit"]  {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:14px;
    font-weight:bold;
    color: var(--light-blue);
}


/* Button Color */

.button, input[type="submit"] {
    border-color: var(--light-blue);
}


/* Button Hover Color */

.button:hover,  input[type="submit"]:hover {
    border-color: var(--light-blue);
    color: var(--light-blue);
    opacity: .75;
}


/* ----------Banner Buttons---------- */


/* Button Text */

#banner .button {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:16px;
    color: var(--black);
}


/* Button Color */

#banner .button {
    border-color: var(--black);
}


/* Button Hover Color */

#banner .button:hover {
    color: var(--light-blue);
    border-color: var(--light-blue);
}


/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:12px;
    font-weight:normal;
    color: var(--dark-gray);
}

#landing-footer a {
    color: var(--light-blue);
}

/* Footer Icon Color */

#landing-footer i {
    color: var(--light-blue);
}