/* variables.css */
:root {
    --dark-blue: #051D26;
    --medium-blue: #012840;
    --light-blue: #375D66;
    --gold: #DDBF14;
    --dark-gray: #7a7a7a;
    --black: #111;
    --white: #F5F5F5;
    --background: #EBEBEB;
}
